@import "bootstrap/scss/bootstrap";

.daily-song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;

  .daily-song-title {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .song-info {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    .album-and-like {
      display: flex; /* Gör att elementen ligger på samma rad */
      align-items: center; /* Centrerar elementen vertikalt */
      justify-content: center; /* Centrerar hela gruppen horisontellt */
      gap: 20px;
   
    }

    .album-art {
      width: 300px;
      border-radius: 8px;
      block-size: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.like-heart {
  position: relative;
  background-color: #121212;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }

}

.delete{
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(73, 73, 73);
  border-radius: 50px;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }

}
  
  .loader {
    width: 48px;
    height: 48px;
    border: 4px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    color: #1db954;
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  background-color: #17a74e;
  color: #e0e0e0;
  border: none;
  letter-spacing: 2px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
}

.mood-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .mood-buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      font-size: 35px;
      border: none;
      background-color: #121212;
      border-radius: 40px;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
        background-color: #17a74e;
      }
    }
  }
}

.likedSong{
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;

}

.liked-songs-section {
  height: 100vh;
  background-color: #121212;
  color: white;
  font-family: "Arial", sans-serif;
  padding-left: 30px;
  padding-bottom: 30px;

  ul {
    list-style: none;
    padding: 0;

    li {
      color: #b3b3b3;
      margin-bottom: 5px;
    }
  }
}


.gallery-container {
  display: flex;
  gap: 20px; 
  overflow-x: auto; 
  padding-bottom: 10px;
  scrollbar-width: thin; 
  scrollbar-color: #17a74e transparent;

  &::-webkit-scrollbar {
    height: 8px; 
  }

  &::-webkit-scrollbar-thumb {
    background: #17a74e; 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; 
  text-align: center;
  color: white;
  background-color: #222; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  .gallery-image {
    width: 100%; 
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }

  .gallery-image:hover {
    transform: scale(1.1);
  }

  .song-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
  }

  .song-artist {
    font-size: 0.8rem;
    color: #17a74e;
  }
}
