@import "bootstrap/scss/bootstrap";

body {
  background-color:#f8f3f3 !important;
  color: white !important;
  font-family: Arial, sans-serif !important;
}

.daily-song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f3f3;
  color: rgb(7, 7, 7);
  font-family: "Arial", sans-serif;
  text-align: center;

  .daily-song-title {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .song-info {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    .album-and-like {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      gap: 20px;
      justify-content: space-between; /* Fördela knapparna till vänster och höger */
      width: 100%; /* Anpassa om det behövs */
      padding: 0 10px;
   
    }

    .album-art {
      width: 350px;
      border-radius: 8px;
      block-size: auto;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.like-heart {
  position: absolute;
  top: 50%; /* Justera vertikalt */
  right: -50%; /* Flytta till höger */
  background-color: #f8f3f3;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }
}

.close{
  position: relative;
  background-color:#f8f3f3;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: -50%; 
  cursor: pointer;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }
}

.delete{
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(73, 73, 73);
  border-radius: 50px;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }

}
  
  .loader {
    width: 48px;
    height: 48px;
    border: 4px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    color: #922692;
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  background-color: #922692;
  color: #e0e0e0;
  border: none;
  letter-spacing: 2px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
}

.mood-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:#f8f3f3;
  color: black;
  font-family: "Arial", sans-serif;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .mood-buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      font-size: 35px;
      border: none;
      background-color: #121212;
      border-radius: 40px;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
        background-color: #922692;
      }
    }
  }
}

.likedSong{
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;

}

.liked-songs-section {
  height: 100vh;
  background-color: #f8f3f3;
  color: black;
  font-family: "Arial", sans-serif;
  padding-left: 40px;
  padding-bottom: 40px;

  ul {
    list-style: none;
    padding: 0;

    li {
      color: #b3b3b3;
      margin-bottom: 5px;
    }
  }
}


.gallery-container {
  display: flex;
  overflow-x: auto;
  gap: 20px; 
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto; 
  padding-bottom: 10px;
  scrollbar-width: thin; 
  scrollbar-color: #922692 transparent;
}

.gallery-scroll {
  display: flex;
  gap: 16px; 
  padding: 10px;
  width: max-content;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; 
  text-align: center;
  color: black;
  background-color: #ece7e7; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  .gallery-image {
    width: 100%; 
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }

  .gallery-image:hover {
    transform: scale(1.1);
  }

  .song-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
  }

  .song-artist {
    font-size: 0.8rem;
    color:#922692;
  }
}

.saved-songs-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  .gallery-item {
    flex-direction: column;
    width: 250px;
    height: 370px;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;

    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }

      img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
      }

    .song-name {
      font-size: 1rem;
      font-weight: bold;
      margin: 10px 0 5px;
    }

    .song-artist {
      font-size: 0.9rem;
    }
  }

  // Meddelande om inga sparade låtar
  .no-songs-message {
    font-size: 1.5rem;
    margin-top: 50px;

  }
}

.user-button {
  position: absolute;
  top: 20px;
  right: 150px;
  width: 40px;
  height: 40px;
  background-color: #922692;
  color: #f8f3f3;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
}


.user-dropdown {
  position: absolute;
  top: 60px;
  
  right: 100px;
  margin-top: 10px;
  width: 150px; 
  background-color: #922692; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10; 
  transition: transform 0.3s, box-shadow 0.3s;

  a {
    display: block;
    padding: 10px 15px;
    color: white; 
    text-decoration: none;
    font-size: 14px;

    &:hover {
      background-color: #7d1f7d; 
    }
  }

  &.hidden {
    display: none; 
  }
}
.share-song {
  text-align: center;

  h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }

  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    a,
    button {
      background: none;
      border: none;
      cursor: pointer;

      .icon {
        width: 25px;
        height: 25px;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}