@import "bootstrap/scss/bootstrap";



.daily-song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Arial", sans-serif;
  text-align: center;

  .daily-song-title {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .song-name{
    max-width: 400px;
  }

  .song-info {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    .album-and-like {
      display: flex; 
      align-items: center; 
      gap: 20px;
      justify-content: space-between; 
      width: 100%; 
      padding: 0 10px;
   
    }
  
    .album-art {
      display: block;
      width: 400px;
      padding: 10px;
      margin: 0 auto; 
      border-radius: 20px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.0);
      }
    }
  }
}

.like-heart {
  position: absolute;
  top: 50%; 
  right: -25%; 
  background-color: #f8f3f3;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }
}

.fly-to-saved {
  transition: all 0.8s ease-in-out;
  position: absolute;
  z-index: 1000;
  opacity: 0.5;
}

@keyframes fly-to-saved-list {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(0.7) translate(-200px, 50px); /* Mellansteg: flyger till vänster (-100px) och ner (+100px) */
    opacity: 0.8;
  }
  100% {
    transform: scale(0.4) translate(-600px, 150px); /* Slutposition: flyger längre till vänster (-300px) och längre ner (+300px) */
    opacity: 0; /* Försvinner gradvis */
  }
}


.close{
  position: relative;
  background-color:#f8f3f3;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: -25%; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.delete{
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(73, 73, 73);
  border-radius: 50px;

  &:hover {
    transform: translateY(-20%) scale(1.0); 
  }

}
  
  .loader {
    width: 48px;
    height: 48px;
    border: 4px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    color: #922692;
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logout-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  background-color: #922692;
  color: #e0e0e0;
  border: none;
  letter-spacing: 2px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
}

.mood-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Arial", sans-serif;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .mood-buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      font-size: 35px;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
        background-color: #922692;
      }
    }
  }
}

.likedSong{
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;

}

.liked-songs-section {
  height: 100vh;
  overflow-y: hidden;
  font-family: "Arial", sans-serif;
  padding-left: 40px;
  

  ul {
    list-style: none;
    padding: 0;

    li {
      color: #b3b3b3;
      margin-bottom: 5px;
    }
  }
}


.gallery-container {
  flex:1;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 30px; 
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  scrollbar-width: thin; 
  scrollbar-color: #922692 transparent;

  position: relative;
}

.gallery-scroll {
  display: flex;
  gap: 20px;
  padding: 10px;
  overflow-x: auto; 
  overflow-y: visible;
  position: relative;
  flex-wrap: nowrap; 
  padding-bottom: 5%;
}

.gallery-item {
  display: flex;
  flex: 0 0 auto;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  width: 250px; 
  text-align: center;
  color: black;
  background: linear-gradient(135deg, #f9dcf9, #f1d8ce);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  .gallery-image {
    width: 100%; 
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }

  .gallery-image:hover {
    transform: scale(1.1);
  }

  .song-name {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0;
  }

  .song-artist {
    font-size: 0.8rem;
    color:#922692;
  }
}

.saved-songs-container {
  padding: 20px;
  margin: 0 auto;

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
 
    font-weight: bold;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    justify-items: center;
  }

  .gallery-item {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    width: 250px;
    height: 370px;
    background: linear-gradient(135deg, #f9dcf9, #f1d8ce);
    justify-content: space-between;
    border-radius: 10px;
  

    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }

      img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
      }

    .song-name {
      font-size: 1rem;
      font-weight: bold;
      margin: 10px 0 5px;
    }

    .song-artist {
      font-size: 0.9rem;
    }
  }

  // Meddelande om inga sparade låtar
  .no-songs-message {
    font-size: 1.5rem;
    margin-top: 50px;

  }
}

.user-button {
  position: absolute;
  top: 20px;
  right: 150px;
  width: 40px;
  height: 40px;
  background-color: #922692;
  color: #f8f3f3;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  }
}

.user-dropdown{
  position: absolute;
  top: 60px;
  
  right: 100px;
  margin-top: 10px;
  width: 120px; 
  background-color: #922692; 
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 10; 
  transition: transform 0.3s, box-shadow 0.3s;

  a, button {
    display: block;
    padding: 10px 15px;
    color: white; 
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #7d1f7d; 
    }
  }

  &.hidden {
    display: none; 
  }
}

.share-song {
  text-align: center;

  h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }

  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    a,
    button {
      background: none;
      border: none;
      cursor: pointer;

      .icon {
        width: 25px;
        height: 25px;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.user-profile {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  background-color: #ece7e7;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.user-email {
  font-size: 1rem;
  color: #333;
}

.edit-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #922692;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #7d1f7d;
}


#upload-avatar {
  font-size: 14px;
  margin: 30px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 70px;
  max-width: 350px;

}
.menu-button{
  color: #fff;
}

/* För mörkt tema */
body.dark {
  background: linear-gradient(135deg, #1e1e2f, #3e3e5e);
  color: #fff !important; 

  h1, h3, a ,p{
    color: #fff !important; 
    transition: color 0.3s ease-in-out; 
  }
  .gallery-item{
    background-color: #343434;
  }

  .mood-buttons button {
    background-color: #1d1c1c;
  }
  .titleFront {
    background-color: #fff;
  }

  .like-heart, .close {
    background-color:  #1d1c1c !important; 
    color: #fff; 
  }
  .menu-button{
    color: #fff;
  }
  .user-profile{
    background: linear-gradient(135deg, #1e1e2f, #3e3e5e)
  }
  .gallery-item{
    background: linear-gradient(135deg, #1e1e2f, #3e3e5e)
  }
}

/* För ljust tema */
body.light {
  background: linear-gradient(135deg, #f3d4f3, #e2cdc4);
  color: #000 !important; 

  h1, h3, p {
    color: #000 !important; 
  }
  .titleFront {
    background-color: #000;
  }
  .mood-buttons button {
    background: linear-gradient(135deg, #f3d4f3, #e2cdc4);
  }

  .like-heart, .close {
    background: linear-gradient(135deg, #f3d4f3, #e2cdc4);
    color: #000; 
  }

  .menu-button{
    color: #000;
  }

  .user-profile{
    background: linear-gradient(135deg, #f9dcf9, #f1d8ce);
  }

}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Halvtransparent bakgrund */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

/* Modal content */
.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 300px; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-buttons button {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: none;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color:#922692;
  color: white;
  width: 50px;
}

.modal-buttons button:last-child {
  background-color:#922692;
  color: white;
  width: auto; 
}

.create-playlist-container button{
  color: #922692;
  padding: 8px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: none;
}

.menu-container {
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translateX(40%);
  min-width: 150px;
  overflow: visible;
}

.menu-dropdown button {
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.menu-dropdown button:hover {
  background: #f5f5f5;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

p {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes throwEffect {
  0% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-150px) rotate(-45deg);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-300px) rotate(-90deg);
    opacity: 0;
  }
}

.throwing {
  animation: throwEffect 0,5s ease-out forwards;
}

.album-art.throwing {
  animation: throwEffect 0,5s ease-out forwards;
}

